<div class="container" id="home">
    <div class="col-md-12">
        <h1>Github Repositories!</h1>
        <p>{{home.message}}</p>
    </div>

    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control lg-input" placeholder="Busc&aacute; un usuario!" ng-model="home.query">
            <div class="input-group-addon" ng-click="home.findUser()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Puntaje</th>
                    <th><span class="glyphicon glyphicon-star-empty"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in home.users" ui-sref="detail({id:user.login})">
                    <td>{{user.id}}</td>
                    <td>{{user.login}}</td>
                    <td>{{user.score}}</td>
                    <td><span class="glyphicon glyphicon-star-empty"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>