.search-query-subtitle {
  font-size: 17px;
  margin-left: 12px;
  color: #808080;
}

.search-query-block {
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;

  div:last-child {
    padding-bottom: 10px;
  }

  md-input-container {
    padding-bottom: 5px;
  }
}

@mixin reduction(){
  font-size: 1.2rem !important;
  margin-bottom: 0 !important;
}

.search-result-block {
  margin-left: 3px;
  margin-right: 3px;

  label {
    @include reduction();
  }

  span {
    @include reduction();
    font-weight: 400;
  }

  div {
    padding: 5px;
  }

  md-input-container {
    padding: 0;
  }

  md-switch {
    margin: 0;
  }

  textarea {
    height: 30px;
  }

  .form-buttons {
    padding-bottom: 0;
  }
}

.search-result-not-found-label {
  margin-bottom: 10px;
}

.mm-detail-label {
  font-weight: 500;
  font-size: 14px;
}

.justify {
  text-align: justify;
}

.form-label {
  font-family: roboto;
  font-size: 13px;
  line-height: 1.42857143;
  color: #5e5e5e;
}

.result-detail.edit-inactive {
  color: rgba(255, 255, 255, 0.3) !important;
}

.c-black {
  font-size: 14px;
}

.c-gray-dark {
  color: #868585 !important;
}

.error-message{
  font-size: 12px;
  font-family: roboto;
  color: rgb(244,67,54);
  position: absolute;
  top: 54px;
}

.error-message-new-media{
  font-size: 12px;
  font-family: roboto;
  color: rgb(244,67,54);
  top: 54px;
}

.error-message-no-label{
  font-size: 12px;
  font-family: roboto;
  color: rgb(244,67,54);
  position: absolute;
  top: 30px;
}

.error-background{
  background-color: lightgray;
}

.edit-table-overflow{
  height: 300px;
  overflow: auto;
}

.scrollit {
  overflow-y:scroll;
  height:400px;
}

body {
  padding-top: 25px !important;
}

ul, ol {
  margin-bottom: 10px !important;
}

[layout-margin],
[layout-margin] > [flex],
[layout-margin] > [flex-gt-sm],
[layout-margin] > [flex-md],
[layout-margin] > [flex-lt-lg] {
  margin: 0 !important;
}

.md-tab {
  padding: 5px 12px !important;
}

md-pagination-wrapper {
  height: 35px !important;
}

md-tabs-canvas {
  height: 35px !important;
}

md-tab-content {
  top: -1px !important;
}

#menu-trigger:before {
  top: 2px;
  left: 9px;
  width: 40px;
  height: 40px;
}

#sidebar {
  top: 45px!important;
  height: calc(100% - 25px);
}

.md-button {
  padding: 0;
  margin: 6px 8px;
  min-height: 14px;
  min-width: 65px;
}

.lvh-search:before {
  top: 3px;
}

.lvhs-input {
  height: 35px;
}

.icon-size-25 {
  list-style: none;
  font-size: 25px;
}

.table-pagination > li:first-child > a,
.table-pagination > li:last-child > a {
  font-size: 25px;
  width: 40px;
  height: 40px;
}

.lvh-select:before {
  position: absolute;
  left: 24px;
  top: 17px;
  font-size: 22px;
  color: #fff;
}

.lvh-select{
  position:absolute;
  top:0;
  left:100%;
  height:100%;
  width:400px;
  margin-left:-480px
}
.table-pagination > li:first-child > a,
.table-pagination > li:last-child > a {
  padding-top: 0;
  padding-left: 0;
}

.table-pager {
  display: inline;
  float: right;
}

.table-form .fixEditInput{
  width: 81px !important;
}

.fixEditInput{
  padding-bottom:10px !important;
  width: 81px !important;
}

.fixEditInput:not(.md-input-has-value) {
  bottom: 10px;
}

.fixWitdhEdit > tbody > tr > td {
  max-width: 100px !important;
}

.fixBtnCancel{
  color: #000;
  cursor: pointer;
  background: none;
  border: 0 none;
  text-transform: uppercase;
}

.fixEditInputTime{
  max-width: 50px !important;
}

.md-select-placeholder {
  font-weight: 700;
  font-size: 1.5rem;

  span {
    margin-top: -10px;
  }
 }

body {
  #content {
    padding: 24px 4px 0;
  }


}

.block-header {
  padding: 6px 22px 0;
}

.fix-description-short{
  max-width: 95% !important;
}

.fix-description-complete{
  word-break: break-all;
  overflow: hidden;
  max-height: 200px;
  white-space: normal !important;
  max-width: 95% !important;
}


.descriptionShort.material {
  max-width: 95% !important;
}

.descriptionComplete.material {
  word-break: break-all;
  overflow: hidden;
  max-height: 200px;
  white-space: normal !important;
  max-width: 95% !important;
}

.icon-left {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -135px;
}

.fix-checkbox-copy-segment{
  top: 10px;
  .md-container{
    top: 12px;
  }
  div > span{
    padding-left:10px;
  }
}

.card-padding {
  padding: 10px 25px 10px 25px;
  margin-bottom: 0px !important;
}

.alert {
  margin-bottom: 0 !important;
}

.form-buttons-new {
  button {
    padding: 0 10px;
  }
}

.darker-labels label{
  color: rgba(0,0,0,0.8) !important;
}

.class-link{
  &:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
  }
}

.segments-tab {

  lay-card {

    .card-body {
      min-height: 44px;
    }

    md-card {
      margin:0;

      md-card {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.098), 0 0 0 0 rgba(0, 0, 0, 0.084);
        .card {
          box-shadow: 0 0 0 rgba(0,0,0,0.15)
        }
      }

    }
  }
}

div label.error {
  text-align: left;
  display: block;
  color: red !important;
}

div label.error-centered {
  display: block;
  color: red !important;

}

div label.warning {
  text-align: left;
  display: block;
  color: darkorange !important;
}

.center-content {
  margin: 0 auto;
}

.search-result-block {
  lay-input-lov {
    div {
      padding:0;
      a{
        top:18px;
      }
    }
    md-input-container {
      max-width: 115px;
    }
    a {
      padding: 4px;
    }
  }
}

md-autocomplete{
  min-width: 100px !important;
}

.ratings{
  .fix-rating-lay-input-lov-dir {
    md-input-container {
      width:55px;
    }
  }
}

.fix-rating-lay-input-lov-dir {

  .md-default-theme{
    width: 100%!important;
  }

  .md-block > input {
    max-width: 100% !important;
  }

  .buffer-top-padding-s{
    padding-top:10px!important;
    > a{
      padding:2px 5px 2px 5px !important;
    }
  }

  div{
    max-width: 100px !important;
  }
}

div.table-form-column {

  .input-contains-select-rating {
    top: 24px;
  }

  .input-contains-select-rating:not(.md-input-has-value) {
    top: 12px;
  }

  .input-contains-rating {
    top: 24px;
  }

  .input-contains-rating:not(.md-input-has-value) {
    top: 28px;
  }
}

.fix-icon-delete-rating{
  position: relative;
  top: 24px !important;
}

::-webkit-input-placeholder {
  color: #5e5e5e;
}

:-moz-placeholder { /* Firefox 18- */
  color: #5e5e5e;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #5e5e5e;
}

:-ms-input-placeholder {
  color: #5e5e5e;
}

.segments-label {
  label {
    padding: 11px 14px 0;
    font-size: 1.5rem;
  }
}

.table-form-segments{
  div {
    md-input-container {
      margin: 0 auto;
    }
  }

}

#top-search {
  display: none;
}

media-virtual-segment {
  .search-query-block {
    text-align: right;
  }
  a {
    color: #5e5e5e !important;
  }
}

.fix-rejection-comments{
  max-width: 200px!important;
}

.media-tabs {
  min-height: 140px;
}


table {
  border-collapse: inherit !important;
}
